body{
	background:hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
   display:flex;
	flex-direction: column; 
  justify-content: center; 
  align-items: center; 
 min-height: 100vh;
}
.main{
	margin-top:60px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	border:2px solid hsl(217, 54%, 11%);
	background:hsl(216, 50%, 16%);
	height:auto;
	border-radius:5%;
	padding:14.5px 8.5px 12px 12.5px;
	box-shadow:6px 6px 7px #101e29 ;
}

#cube{
	border-radius:5%;
	width:195px;
	height:auto;
	text-align:center;
	
}
.main h2{
	color:white;
	font-size:15px;
	text-align:justify;
}
.main p{
	color:hsl(215, 51%, 70%);
	font-size:12px;
	text-align:justify;
	margin-bottom:0;
}
.main h3{
	color:hsl(178, 100%, 50%);
	font-weight:600;
font-size:14px;
}
.logos{
	display:flex;
	justify-content:space-between;
	text-align:justify;
	
}

.logos h4{
	color:hsl(215, 51%, 70%);
	font-size:12px;
	font-weight:400;
}
.underline{
	border-bottom:0.5px solid hsl(215, 32%, 27%);
}
#boy{
	border-radius:50%;
	width:30px;
	margin-right:0;
	border:1.5px solid white;
}
.last{
	margin-top:15px;
	display:flex;
	justify-content:start;
	align-items:center;
	gap:15px;
}
.last h3{
	font-size:11px;
	color:hsl(215, 51%, 70%);
	margin:0;
}
#name{
	color:white;
}
.main h2:hover{
	color:hsl(178, 100%, 50%);
	transition:0.5s;
}
#name:hover{
	color:hsl(178, 100%, 50%);
	transition:0.5s;
}
